<!DOCTYPE html>
<html lang="ko" layout:decorate="~{layout2}">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" th:href="@{/serach_list.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
</head>
<body style="min-height : 576px;">
<div layout:fragment="content" style="width: 100%; height: 100%;">
    <div style="margin-bottom: 50px; display: flex; flex-direction: column; background : white;">
        <div style="display: flex; justify-content: center; background : white; flex-direction: column;">
            <div style="margin-top: 30px; display: flex; flex-direction: column; align-items: center;">
                <div>
                    <span style="font-size: 25px; color:black;">웹툰</span>
                </div>
                <div>
                    <span th:text="'&quot;' + ${kw} + '&quot;'"
                          style="font-weight: bold; rgb(116, 116, 123); margin-right: 5px;"></span>
                    <span> 의 검색결과</span>
                </div>
            </div>
            <span th:text="${'( 총 ' + webtoonList.size() + '개의 검색결과 )'}"
                  style="display: flex; align-items: center; color : #868e96; margin-left : 10px; justify-content: center;"></span>
            <div style="display : flex; justify-content: center;">
                <div style="display: flex; flex-wrap: wrap; justify-content: center; width: 56%; margin-top : 38px;">
                <form class="more_webtoonlist" th:action="@{/webtoon/detail}" method="get" th:if="${webtoonList}" th:each="webtoon, loop : ${webtoonList}">
                    <button>
                    <div class="img" style="padding : 5px; width: 213px; height: 305px; display: flex;
                        justify-content: center; align-items: center;">
                        <img th:src="${webtoon.getImageUrl}" style="max-height: 100%;">
                    </div>
                    <div>
                        <span class="webToon-title"
                              th:text="${#strings.length(webtoon.getTitle) > 16 ? #strings.substring(webtoon.getTitle, 0, 16) + '..' : webtoon.getTitle}"
                              style="font-size : 17px;"></span>
                        <div class="mv-text" th:text="${webtoon.title}"></div>
                        <div class="short-kind">
                            <span style="color : #868e96; font-size : 15px;">글,그림 :</span>
                            <span th:text="${#strings.length(webtoon.getAuthor()) > 7 ? #strings.substring(webtoon.getAuthor(), 0, 7) + '..' : webtoon.getAuthor()}"
                                  style="font-size : 17px; margin-bottom : 5px;"></span>
                        </div>
                    </div>
                    <input type="hidden" name="webtoonId" th:value="${webtoon.getWebtoonId()}">
                    </button>
                </form>
                </div>
            </div>
            <button onclick="loadMoreWebtoons()" th:if="${webtoonList.size() > 10}" class="webtoon_console" style="display: flex; flex-direction: column; align-items: center; margin-top : 38px;">
                <img src="/etc/down-pointer.png" style="width: 52px; height: 52px;">
            </button>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script>
        $(function () {
            $(".more_webtoonlist").slice(0, 10).show();
        });
        function loadMoreWebtoons() {
            var visibleCount = $(".more_webtoonlist:visible").length;
            var nextIndex = visibleCount + 10;
            $(".more_webtoonlist:lt(" + nextIndex + ")").show();

            if (nextIndex >= $(".more_webtoonlist").length) {
                $(".webtoon_console").hide();
            }
        }
    </script>
</div>
</body>
</html>

