.layout {
    height: 100vh;
    min-height: 1000px;
    width: 15%;
    min-width: 310px;
    background: #d2e1ff;
}

.layout > ul > li {
    margin-top: 10px;
}

.menuTab {
    display: flex;
    border-radius: 0 50px 50px 0;
    padding: 10px 50px 10px 24px;
    font-size: medium;
    border: none;
}

.menuTab:hover {
    background-color: #fbd7ed;
    color : white;
    border: none;
}

.menuDetail {
    height: 100vh;
    padding: 40px 40px 0px 40px;
}

.searchButton {
    border-top: #d2d4d7 solid 1px;
    border-bottom: #d2d4d7 solid 1px;
    border-right: #d2d4d7 solid 1px;
}

.noticeBoard {
    color: white;
    font-size: 20px;
    padding: 10px
}

.myArticle {
    color: black;
}

.contentList {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 3rem;
    min-width: 800px;
}

.textList {
    background: black;
}

.questionTitle:hover {
    cursor: pointer;
    text-decoration: underline;
    transition: 0.1s;
}